<link
    href="https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto+Mono:wght@100;600&family=Smooch+Sans:wght@200&display=swap"
    rel="stylesheet">

<div class="creditos">
    <header class="encabezado">
        <img src="/assets/img/CCDC.jpg" alt="CCDC">
        <img class="uaa" src="/assets/img/uaa.jpg" alt="UAA">
    </header>
    <div class="principal">
        <div class="titulos">
            <h2>Universidad Autónoma de Aguascalientes</h2>
            <h3>Centro de Ciencias Básicas</h3>
            <h3>Ingeniería en Sistemas Computaciones</h3>
        </div>
        <div class="autores">
            <h4>Autores</h4>
            <ul>
                <li id="cap">
                    <p>Francisco González Lara</p>
                </li>
                <li id="pool">
                    <p>Isaac González Olivares</p>
                </li>
                <li id="iron">
                    <p>José Javier González Orozco</p>
                </li>
            </ul>
        </div>
        <div class="fecha">
            <p id="date">{{obtenerFecha()}}</p>
        </div>
    </div>
    <footer>Copyright &copy; Héroes - ISC 2022</footer>
</div>