<h1><b id="marvel">Marvel</b> Comics</h1>

<hr>

<p>El precursor de Marvel Comics fue fundado en 1939 por el editor de la revista pulp Martin Goodman. Para capitalizar
    la creciente popularidad de los cómics, especialmente aquellos protagonizados por superhéroes, Goodman creó Timely
    Comics. El primer cómic de Timely fue Marvel Comics no. 1 (portada con fecha de octubre de 1939), que presentaba
    varios personajes de superhéroes, sobre todo Human Torch y Sub-Mariner. Timely Comics introdujo muchos personajes de
    superhéroes durante la "Edad de Oro" de los cómics en la década de 1940, sobre todo el Capitán América, que apareció
    por primera vez en Captain America Comics no. 1 (marzo de 1941). Los personajes oportunos a menudo se representaban
    luchando contra los nazis y los japoneses incluso antes de que Estados Unidos entrara en la Segunda Guerra Mundial.
    Cuando la década de 1940 llegó a su fin, los superhéroes dejaron de estar de moda entre los lectores de cómics y
    Timely canceló el último de sus libros de este género en 1950. En 1951, Goodman formó su propia empresa de
    distribución y Timely Comics se convirtió en Atlas Magazines. Aunque hubo un breve experimento para traer de vuelta
    a superhéroes como el Capitán América en 1953, la producción de Atlas se centró principalmente en otros géneros como
    el humor, los westerns, el terror, la guerra y la ciencia ficción.
</p>
<br>
<div style="text-align: center;">
    <img src="../../assets/img/marvel-comics.png" alt="">
</div>
<!-- ----------------------------------- DC ----------------------------- -->
<br><br><br>
<h1><b id="dc">DC</b> Comics</h1>
<hr>

<p>DC Comics, Inc. es una de las mayores empresas estadounidenses de cómics y publicación de medios relacionados. Es la
    rama editorial de cómics de DC Entertainment, Inc., una subsidiaria de WarnerMedia (anteriormente Time Warner), un
    conglomerado editorial propiedad de AT&T. Durante décadas, DC Comics ha sido una de las dos compañías de cómics
    estadounidenses más grandes, junto con Marvel Comics. Las iniciales "DC" eran originalmente una abreviatura de
    Detective Comics y más tarde el nombre oficial.
    Ubicado originalmente en la ciudad de Nueva York en 432 Fourth Avenue, DC ha tenido su sede sucesivamente en 480 y
    luego en 575 Lexington Avenue; 909 Tercera Avenida; Plaza Rockefeller 75; 666 Quinta Avenida; y Avenida de las
    Américas 1325 (en 1992). DC se hizo cargo de varios pisos cuando se mudó a 1700 Broadway a mediados de la década de
    1990, reubicándose allí con MAD Magazine, propiedad de Time Warner, que se mudó allí desde 485 Madison Avenue. En
    2015, toda la operación se trasladó a Burbank, California.
</p>
<br>
<div style="text-align: center;">
    <img src="../../assets/img/dc-comics.png" alt="">
</div>