@media (max-width: 992px){
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .containerr{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

} 

.top {
    background: rgb(170,0,15);
    background: linear-gradient(90deg, rgba(170,0,15,1) 26%, rgba(0,7,177,1) 100%);
}

.top > div > ul > li > a {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.top > div > ul > li > a:hover {
    color: gray;
}

button {
    font-weight: bolder;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(198,196,52,1) 0%, rgba(235,253,45,1) 37%, rgba(235,253,45,1) 100%);
}

button:hover {
    color: red;
    border: 1px solid red;
}