div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first {
    color: rgb(2, 2, 184);
}
#second {
    color: rgb(151, 2, 2);
}

.jumbotron {
    background: rgb(209, 237, 238);
}