.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

@media (max-width: 1200px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}