.card-columns {
    column-count: 5;
    column-gap: 16px;
    

}

h1 > b{
    color: rgb(180, 180, 1);
}
@media(max-width: 1200px) {
    
    .card-columns{
        column-count: 4;

    }
}

@media(max-width: 992px) {
    
    .card-columns{
        column-count: 3;

    }
}

  @media(max-width: 792px) {
    
    .card-columns{
        column-count: 2;

    }
  }

